
head {
    text-align:center;
}
body {
    text-align:center; 
    background-color: rgb(199, 224, 252); 
    font-family: 'Courier New', Courier, monospace;
    
}

.nav {
    background-color: #3b434d7a;  
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;

}

.nav a {
    float: left; 
    color:black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}
  
.nav a:hover, .dropdown:hover .dropdownbtn {
    background-color: rgba(221, 221, 221, 0.726);
}
  
.nav a.active {
    background-color:rgba(221, 221, 221, 0.726);    
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropdownbtn {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    border: none;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

/* Text in dropdown */
.dropdown-content a {
  float: none;
  padding: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/*Hover color in drop down*/
.dropdown-content a:hover {
      background-color: #ddd;

}

.dropdown:hover .dropdown-content {
  display: block;
}


h1 {
    font-family: cursive;
}

li {
    text-align: left;
}

img{
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

.aboutme {
    margin:0 auto; 
    width:50%;
}

.conform {
    text-align: left;
    display: inline-block;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
    background-color: white;
    padding: 25px;
    width:50%;
    margin: 20px;


}


input[type=text], input[type=tel], input[type=email], input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;

}

input[type=submit]{
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}
