* {
    box-sizing: border-box;
  }
head {
    text-align:center;
}
body {
    text-align:center; 
    background-color: rgb(199, 224, 252); 
    font-family:  'Courier New', Courier, monospace;
    
}


.nav {
    background-color: #3b434d7a; 
    top: 0px;
    width: 100%;
    overflow: hidden;
    padding: 10px 10px;
    z-index: 10000;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);

}


.nav a {
    float: left; 
    color:black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}
  
.nav a:hover, .dropdown:hover .dropdownbtn {
    background-color: rgba(221, 221, 221, 0.726);
}
  
.nav a.active {
    background-color:rgba(221, 221, 221, 0.726);    
}


.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropdownbtn {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    border: none;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

/* Text in dropdown */
.dropdown-content a {
  float: none;
  padding: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/*Hover color in drop down*/
.dropdown-content a:hover {
      background-color: #ddd;

}

.dropdown:hover .dropdown-content {
  display: block;
}


h1 {
    font-family: 'PingFang TC';
    text-align: left;
}



.selfie{
    width: 600px;
    height: 400px;
    border-radius: 20%;
    

}

.imgcontainer{
    text-align: left;
    overflow: hidden;
    display: flex;
    justify-content: center;
}



.conform {
    text-align: left;
    display: inline-block;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
    background-color: white;
    padding: 25px;
    width:50%;
    margin: 20px;


}


input[type=text], input[type=tel], input[type=email], input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;

}

input[type=submit]{
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: white; 
    text-align: left;
    padding: 5px;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);

} 
.footimg {
    height: 35px;
    width: 35px;
    border-radius: 0px;
}

.resume {
    height: 995px;
    width: 750px;
    border: none;
}

.resumepage {
    margin: 50px;
}

.download{
    margin: 50px;
    text-align: center;
}

.downloadbtn{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.downloadbtn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
}

.info{
    float: left;
    width: 50%;
    padding: 10px;
    display: block;
}

.home:after{
    content: "";
    display: table;
    clear: both;
}

.name{
    justify-content: center;
    display: block;
}

h1{
    margin-left: 200px;
}

.aboutme{
    margin-top: 125px;
    width: 75%;
    font-size: 20px;
}

h2{
    margin: 0;
}
.sgimg{
    height: 200px;
    width: 600px;
    margin-bottom: 20px;
}