
head {
    text-align:center;
}
body {
    text-align:center; 
    background-color: rgb(199, 224, 252); 
    font-family: 'Courier New', Courier, monospace;
    
}

.nav a {
    color:black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
  }
  
.nav a:hover {
    background-color: rgba(221, 221, 221, 0.726);
    color: black;
  }
  
.nav a.active {
    background-color: #FFD200;
    color: white;
  }

.nav a.far {
    float: right;
  }

h1 {
    font-family: cursive;
}

img.portrait{
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.aboutme {
    margin:0 auto; 
    width:50%;
}

.conform {
    text-align: left;
    display: inline-block;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
    background-color: white;
    padding: 25px;
    width:50%;
    margin: 20px;


}


input[type=text], input[type=tel], input[type=email], input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;

  }

input[type=submit]{
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
  }
